body {
    background-image: url("https://img.freepik.com/free-photo/travel-concept-with-landmarks_23-2149153256.jpg?w=2000");
    background-size: auto;
}

table {
    background-color: snow;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    width: 50%;
}

h1 {
    font-family: 'Maiandra GD';
    color: snow;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
}

td, tr {
    font-family: 'Maiandra GD';
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}

h3 {
    font-family: 'Maiandra GD';
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    color: #ff1a1a;
}

input {
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Times New Roman';
    font-size: medium;
}

    input.check {
        margin-left: auto;
        margin-right: auto;
    }

a {
    color: #1cc49d;
}

    a.option {
        font-size: 140%;
        padding: 3px;
        background-color: black;
        margin: 4px;
    }

input[type=radio] {
    border: 0px;
    width: 15%;
    height: 2em;
}

input.submit {
    color: #1cc49d;
    background-color: #1b2f31;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 8em;
    font-size: large;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}


div.grid-container {
    background-color: snow;
    display: grid;
    padding: 10px;
    border-style: solid;
    margin: 10px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

div.grid-item {
    font-family: 'Maiandra GD';
    font-size: 30px;
    text-align: center;
    display: inline-grid;
    background-color: cornflowerblue;
    border-style: solid;
    margin: 1px;
}
